@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0
}
body,
html {
  height: 100%;
  color: #fff
}
.size {
  height: 100%
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cor1 {
  background: #D66D75;
}
.cor2 {
  background: #FF8A00;
}
.cor3 {
  background: #67B26F;
}
.item {
  width: 500px;
  max-width: 90%;
  margin: 50px;
}
.center-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.center-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.center-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
